.genreContainer {
  
  width: 100%;
  height: 100vh;
}

.genre-view {
  margin-top: 50px;
  color: white;
}


.genre-button-div {
  text-align: center;
  margin: 0 auto;
  width: 200px;
}

.genre-button {
  margin-top: 20px;
  width: 100%;
  background-color: black;
}

