button, .btn, .btn-primary {
  background-color: #ce1f3a; 
  color: white; 
  border-color: #ef97a4;
  margin-top: 0.9rem;
  }
 
  button, .btn-primary:hover {
background-color: #ef97a4;
border-color: inherit;
color: white;
  }

  .form-control {
    width: 50%;

  }