
*{
  box-sizing: border-box;
}

.loginContainer{
  width: 100%;
}

  .loginCard {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    background:white;
    color: black;
  }

  .btn-success {
    width: 100%;
    display: block;
  }


form {
  display: block;

}

.loginButton {
  width: 100%;
  display: block;
}

.logo {
  width: 50%;
}